body{
    background-color: skyblue;
}
pre{
    font-size: 15px;
}
#flower{
    display: flex;
    height: 1000px;
    width: 500px; 
    align-content: center;
    float: right;
   
}
#center{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
   margin:auto;
   margin-left: 307px;
    z-index: 6;
    background-color: rgb(236, 236, 123);

}
#p1,#p2,#p3,#p4,#p5,#p6,#p7{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 3;
   background-color: rgb(180, 111, 180);

}
#p1{
    margin-top:440px;
    margin-left: 260px;
    
}
#p2{
    margin-top:405px;
    margin-left: 300px;

}
#p3{
    margin-top:410px;
    margin-left: 350px;

}
#p4{
    margin-top:450px;
    margin-left: 370px;
   

}
#p5{
    margin-top:500px;
    margin-left: 260px;
}
#p6{
        margin-top:520px;
        margin-left: 320px;
    }
#p7{
            margin-top:500px;
            margin-left: 357px;
        }
#l{  position: absolute;
    height: 200px;
    width: 0px;
    margin-top: 580px;
    margin-left: 350px;
border: solid 2px rgb(94, 231, 94);
}
#boy{
    float: left;
    display: flex;
    height: 1000px;
    width: 930px; 
    align-content: center;
}
#head{
    position: absolute;
    width: 90px;
    height:100px;
    margin-top: 450px;
    margin-left: 370px;
    border-radius: 70px ;
    z-index: 6;
    background-color: rgb(246, 246, 127);

}
#torc{
    position: relative;
    height: 210px;
    width:170px;
    border-radius: 60% 50%;
    margin-top: 535px;
    margin-left: 307px;
    z-index: 0;
    background-color: rgb(243, 137, 88);

}
#leg1,#leg2{
  height: 130px;
  width: 0px;
  position: absolute;
  border: solid 0.2px  rgb(145, 117, 65);
  z-index: -1;
  margin-top:720px;
border: solid ;
}

#leg1{
    margin-left: 395px;
}
#leg2{
    margin-left: 370px;
}
#ha1{
    position: absolute;
    height: 100px;
    width: 0px;
    z-index: 1;
    border-radius: 25px;
    border: solid 3px rgb(102, 74, 21);
    margin-top: 600px;
    margin-left:  350px;
    
}


